.arrow{
    display: none;
}
@media (min-width:500px) {
    .arrow{
        display: flex;
    }
}
@media (min-width:800px) {
    .cyber{
        width:40%;
    }
}
@media (max-width:800px) {
    .cyber{
        display: none;
        scrollbar-width: none;
    }
}