.arrow{
    display: none;
}
.show{
    display: none;
}
@media (min-width:500px) {
    .arrow{
        display: flex;
    }
}
@media (min-width:800px) {
    .cyber{
        width:40%;
    }
}
@media (max-width:500px) {
    .cyber{
        display: none;
        scrollbar-width: none;
    }
}

@media (max-width:500px) {
    .show{
        display: flex;
    }
}
@media (min-width:500px) {
    .car-section{
        width: 50%;
    }
}
@media (min-width:800px) {
    .car-section{
        width: 60%;
    }
}
@media (max-width:500px) {
    .car-section{
        width: 100%;
    }
}